.app-label.control-label {
    margin-bottom: 8px;
}

.app-radioset.inline.list-group.with-horizontal {
    display: flex;
    align-items: center;
    gap: 16px;
    overflow: visible;
    margin-top: 8px;
    flex-wrap: wrap;
}

.app-radioset.inline.list-group.with-vertical {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: visible;
    margin-top: 8px;
}

.wm-app .form-group .app-radioset.with-horizontal .radio+.radio,
.wm-app .form-group .app-radioset.with-vertical .radio+.radio {
    margin-top: 0px;
}

.app-radioset.with-horizontal .app-radio.radio,
.app-radioset.with-vertical .app-radio.radio {
    width: auto;
    vertical-align: unset;
    display: unset;
    margin-top: unset;
    overflow: visible;
}

.app-radioset.with-horizontal .app-radio.radio input[type="radio"],
.app-radioset.with-vertical .app-radio.radio input[type="radio"] {
    margin-right: -12px;
}

.app-radioset.with-horizontal .app-radio.radio input[type="radio"]:focus,
.app-radioset.with-vertical .app-radio.radio input[type="radio"]:focus {
    outline: none !important;
}

.app-radioset.with-horizontal .app-radioset-label,
.app-radioset.with-vertical .app-radioset-label {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    line-height: 1.5;
    overflow: visible;
}

.app-radioset.with-horizontal .app-radioset-label input[type="radio"],
.app-radioset.with-vertical .app-radioset-label input[type="radio"] {
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -8px;
    top: -7px;
    display: block;
    margin: 0;
    box-sizing: border-box;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    overflow: visible;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

.app-radioset.with-horizontal .radio.app-radio .caption,
.app-radioset.with-vertical .radio.app-radio .caption {
    position: relative;
    width: 100%;
    cursor: pointer;
    padding-left: 32px;
    display: inline-flex;
    align-items: center;
}

.app-radioset.with-horizontal .radio.app-radio .caption::before,
.app-radioset.with-vertical .radio.app-radio .caption::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 14px 3px 1px;
    border: solid 2px;
    border-color: #1D1B20;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
    position: absolute;
    left: 0;
}

.app-radioset.with-horizontal .radio.app-radio .caption::after,
.app-radioset.with-vertical .radio.app-radio .caption::after {
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    position: absolute;
    content: "";
    border-radius: 50%;
    background: transparent;
    top: 6px;
    left: 6px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.app-radioset.with-horizontal .app-radioset-label:hover>input,
.app-radioset.with-vertical .app-radioset-label:hover>input {
    opacity: 0.04;
}

.app-radioset.with-horizontal .app-radioset-label>input[type="radio"]:checked+.caption::after,
.app-radioset.with-vertical .app-radioset-label>input[type="radio"]:checked+.caption::after {
    background: #6750A4;
}

.app-radioset.with-horizontal .app-radioset-label>input[type="radio"]:checked+.caption::before,
.app-radioset.with-vertical .app-radioset-label>input[type="radio"]:checked+.caption::before {
    border-color: #6750A4;
}

.app-radioset.with-horizontal .app-radioset-label>input[type="radio"]:focus,
.app-radioset.with-vertical .app-radioset-label>input[type="radio"]:focus {
    opacity: 0.12;
    background: #6750A4;
}

.app-radioset.with-horizontal .app-radioset-label:hover>input[type="radio"]:checked:hover,
.app-radioset.with-vertical .app-radioset-label:hover>input[type="radio"]:checked:hover {
    opacity: 0.16;
    background: #6750A4;
}

.app-radioset.with-horizontal .app-radioset-label:hover input:disabled,
.app-radioset.with-vertical .app-radioset-label:hover input:disabled {
    opacity: 0;
}

.app-radioset.with-horizontal .app-radioset-label:hover>input[type="radio"]:not(:disabled):hover+.caption::before,
.app-radioset.with-vertical .app-radioset-label:hover>input[type="radio"]:not(:disabled):hover+.caption::before {
    border-color: #6750A4;
}

.app-radioset.with-horizontal .app-radioset-label>input:disabled+.caption,
.app-radioset.with-vertical .app-radioset-label>input:disabled+.caption {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.app-radioset.with-horizontal .app-radioset-label>input:disabled+.caption::before,
.app-radioset.with-vertical .app-radioset-label>input:disabled+.caption::before {
    border-color: #1d1b204d;
}

.app-radioset.with-horizontal .app-radioset-label>input[type="radio"]:checked:disabled+.caption::after,
.app-radioset.with-vertical .app-radioset-label>input[type="radio"]:checked:disabled+.caption::after {
    background: #1d1b204d;
    border-color: #1d1b204d;
}

.app-radioset.with-horizontal.app-radioset-label>input:disabled,
.app-radioset.with-vertical .app-radioset-label>input:disabled {
    opacity: 0;
}


/* ######### top placement styles ######### */

.app-radioset.with-vertical.top-placement .app-radio.radio {
    padding-bottom: 48px;
}

.app-radioset.with-horizontal.top-placement .app-radio.radio {
    padding-bottom: 40px;
}

.app-radioset.with-horizontal.top-placement .app-radioset-label,
.app-radioset.with-vertical.top-placement .app-radioset-label {
    display: inline;
}

.app-radioset.with-horizontal.top-placement .app-radioset-label .caption,
.app-radioset.with-vertical.top-placement .app-radioset-label .caption {
    padding-left: 0;
    display: inline;
}

.app-radioset.with-horizontal.top-placement .app-radioset-label input[type="radio"],
.app-radioset.with-vertical.top-placement .app-radioset-label input[type="radio"] {
    left: 50%;
    transform: translateX(-48%);
    top: 28px;
}

.app-radioset.with-horizontal.top-placement .app-radioset-label input[type="radio"]:not(:disabled)+.caption::before,
.app-radioset.with-horizontal.top-placement .app-radioset-label input[type="radio"]:disabled+.caption::before,
.app-radioset.with-vertical.top-placement .app-radioset-label input[type="radio"]:not(:disabled)+.caption::before,
.app-radioset.with-vertical.top-placement .app-radioset-label input[type="radio"]:disabled+.caption::before {
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
    margin: 3px 1px 3px 1px;
}

.app-radioset.with-horizontal.top-placement .app-radioset-label input[type="radio"]:not(:checked)+.caption::after,
.app-radioset.with-horizontal.top-placement .app-radioset-label input[type="radio"]:checked+.caption::after,
.app-radioset.with-vertical.top-placement .app-radioset-label input[type="radio"]:not(:checked)+.caption::after,
.app-radioset.with-vertical.top-placement .app-radioset-label input[type="radio"]:checked+.caption::after {
    margin-top: 34px;
    left: 50%;
    transform: translateX(-43%);
}


/* ######### bottom placement styles ######### */

.app-radioset.with-horizontal.bottom-placement .app-radioset-label .caption,
.app-radioset.with-vertical.bottom-placement .app-radioset-label .caption {
    padding-top: 36px;
    padding-bottom: 0px;
    overflow: visible;
    display: inline-block;
    padding-left: unset;
}

.app-radioset.with-horizontal.bottom-placement .app-radioset-label input[type="radio"] {
    padding-top: 40px;
    left: 50%;
    transform: translateX(-48%);
    top: -6px;
}

.app-radioset.with-vertical.bottom-placement .app-radioset-label input[type="radio"] {
    padding-top: 40px;
    left: 50%;
    transform: translateX(-48%);
    top: -3px;
}

.bottom-placement.app-radioset.with-horizontal .app-radioset-label input[type="radio"]:not(:disabled)+.caption::before,
.bottom-placement.app-radioset.with-horizontal .app-radioset-label input[type="radio"]:disabled+.caption::before {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.bottom-placement.app-radioset.with-horizontal .app-radioset-label input[type="radio"]:not(:checked)+.caption::after,
.bottom-placement.app-radioset.with-horizontal .app-radioset-label input[type="radio"]:checked+.caption::after {
    left: 50%;
    transform: translateX(-43%);
    top: 8px;
}

.bottom-placement.app-radioset.with-vertical .app-radioset-label input[type="radio"]:not(:disabled)+.caption::before,
.bottom-placement.app-radioset.with-vertical .app-radioset-label input[type="radio"]:disabled+.caption::before {
    left: 50%;
    transform: translateX(-50%);
    top: unset;
    bottom: 28px;
}

.bottom-placement.app-radioset.with-vertical .app-radioset-label input[type="radio"]:not(:checked)+.caption::after,
.bottom-placement.app-radioset.with-vertical .app-radioset-label input[type="radio"]:checked+.caption::after {
    left: 50%;
    transform: translateX(-43%);
    top: 12px;
}

.app-radioset.with-vertical .app-radio .app-radioset-label {
    width: auto;
}


/* .app-radioset.with-vertical.bottom-placement .app-radioset-label>input:disabled+.caption::before {
    border-color: #1d1b204d;
    left: 50%;
    transform: translateX(-50%);
    top: unset;
    bottom: 28px;
} */


/* ######### start placement styles ######### */

.app-radioset.with-horizontal.start-placement .app-radioset-label .caption,
.app-radioset.with-vertical.start-placement .app-radioset-label .caption {
    padding-left: 0;
    padding-right: 24px;
    overflow: visible;
}

.app-radioset.with-horizontal.start-placement .app-radio .app-radioset-label {
    padding-right: 36px;
}

.start-placement .app-radioset-label input[type="radio"]:not(:disabled)+.caption::before,
.start-placement .app-radioset-label input[type="radio"]:disabled+.caption::before {
    left: unset;
    right: -28px;
}

.start-placement .app-radioset-label input[type="radio"]:not(:checked)+.caption::after,
.start-placement .app-radioset-label input[type="radio"]:checked+.caption::after {
    left: unset;
    right: -9px;
}

.app-radioset.with-horizontal.start-placement .app-radioset-label input[type="radio"] {
    right: 24px;
    left: unset;
}

.app-radioset.with-vertical.start-placement .app-radioset-label input[type="radio"] {
    right: -11px;
    left: unset;
}
